<nav class="navbar navbar-expand-lg navbar-dark pb-3 pt-3">
  <div class="container">
    <a class="navbar-brand" href="/">FIGHT<span class="text-white">FIT</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-toggle="target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop">Shop Equipments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/memberships">Memberships</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <i class="fas fa-shopping-cart"></i> Cart
          </a>
        </li>
        <% if (!user) { %>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-primary ms-2 px-4" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary ms-2 px-4 text-white" href="/register">Join Now</a>
          </li>
        <% } else { %>
          <% if(isAdmin) { %>
            <li class="nav-item">
              <a class="nav-link text-warning" href="/super-admin">Admin Panel</a>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link text-success" href="/my-account">My Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">Logout</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
